[submodule "docker-desktop"]
	path = docker-desktop
	url = https://github.com/rogaha/docker-desktop.git
[submodule "dockvpn"]
	path = dockvpn
	url = https://github.com/jpetazzo/dockvpn.git
[submodule "nginx-proxy"]
	path = nginx-proxy
	url = https://github.com/jwilder/nginx-proxy.git
[submodule "docker-consul"]
	path = docker-consul
	url = git@github.com:denkhaus/docker-consul.git
